/* --------- google fonts import  --------- */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Marhey:wght@300&family=Noto+Sans+Kayah+Li&display=swap');

/* --------- animations --------- */
@keyframes scaleDownCircle {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.33);
	}
}
@keyframes scaleUpCircle {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1.5);
	}
}

@keyframes loaderAnimation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes shadowAnimation {
	100% {
		box-shadow: 0 5px 12px var(--shadowColor);
	}
}

/* -------- styles --------- */
:root {
	--primary: #921a28;
	--errorColor: #b0ab31;
	--secondary: #e4e6f0;
	--lightGrey: #d3d3d3;
	--shadowColor: #312a2a80;
	--textColor: #ded6d6;
	--formBackgroundColor: #393a3e;

	--transition: 0.2s all ease-in-out;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Varela Round', sans-serif;
	font-display: auto;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	background-color: var(--formBackgroundColor);
	font-size: 14px;
	overflow: hidden;
	color: var(--textColor);
	background-image: url('../assets/images/background_image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.background {
	position: absolute;
	width: 2600px;
	height: 2600px;
	border-radius: 50%;
	background-color: var(--primary);
	overflow: hidden;
	animation: 1.2s ease-in-out 0.5s scaleDownCircle forwards;
}
.outer-circle {
	box-shadow: 0px 0px 5px 5px var(--primary);
}
.inner-circle {
	width: 520px;
	height: 520px;
	background-color: var(--secondary);
	animation: 1s ease-in-out 0s scaleUpCircle forwards;
	box-shadow: 0px 0px 2px 2px var(--secondary);
}

.container {
	position: relative;
	width: 50vw;
	max-width: 600px;
	min-width: 320px;
	overflow: hidden;
	border-radius: 6px;
	outline: none;
	animation: 1.2s ease-in-out 0.5s shadowAnimation forwards;
}

.container .header-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	width: 100%;
	padding: 15px;
	background: linear-gradient(360deg, var(--secondary) 10%, var(--primary) 16%);
	background: linear-gradient(0deg, var(--formBackgroundColor) 0%, var(--secondary) 4%);
}

.form-container .header {
	background-image: url('../assets/images/progrupa_logo.png');
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.container form {
	background-color: var(--formBackgroundColor);
	padding: 10px 40px;
	height: 320px;
	display: flex;
	align-items: flex;
	justify-content: center;
	flex-direction: column;
}

.form-container .input-wrapper {
	position: relative;
	height: 40px;
	width: 100%;
	margin: 30px 0px;
}

form .input-label {
	position: absolute;
	top: -30px;
	left: 0px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.5px;
}

.form-container .input-text {
	position: absolute;
	top: -30px;
	right: 0px;
	color: var(--secondary);
	filter: brightness(50%);
	text-decoration: none;
	cursor: pointer;
	font-weight: 500;
	transition: var(--transition);
}

.form-container .input-wrapper input {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid var(--secondary);
	outline: none;
	font-weight: 400;
	transition: var(--transition);
}

.form-container .input-wrapper input:is(:focus) {
	border-bottom-color: var(--blue);
}

.form-container .input-wrapper input::placeholder {
	color: var(--shadowColor);
}

.form-container .eye-icon-container {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 0px;
	height: 100%;
	width: 50px;
	background-color: var(--lightGrey);
	cursor: pointer;
}
.eye-icon-closed {
	background-image: url('../assets/icons/icon-closed-eye.png');
	background-position: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}
.eye-icon-closed.eye-icon-open {
	background-image: url('../assets/icons/icon-eye-opened.png');
}

.form-container .submit-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-container .submit-button input {
	width: 120px;
	height: 40px;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 3px;
	padding: 5px 15px;
	background-color: var(--primary);
	box-shadow: 0 5px 10px var(--shadowColor);
	cursor: pointer;
	transition: var(--transition);
}

.form-container .submit-button input:active {
	transform: translateY(1px);
	box-shadow: 0 2px 2px var(--secondary);
}

/* --------- The alert message box  ---------*/
.alert {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 20px;
	width: 100%;
	background-color: var(--errorColor);
	color: var(--secondary);
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 800;
	opacity: 0;
	transition: 0.6s all ease-in-out;
	display: none;
	text-align: center;
}

.alert .close-btn {
	font-weight: 800;
	float: right;
	font-size: 30px;
	line-height: 15px;
	margin-left: 15px;
	cursor: pointer;
	transition: var(--transition);
}
.close-btn:hover {
	transform: rotate(90deg);
}

/* ------ loader animation  ------ */
.loader {
	display: none;
	align-items: center;
	justify-content: center;
}

.loader:after {
	content: ' ';
	width: 27px;
	height: 27px;
	border-radius: 50%;
	border: 6px solid var(--blue);
	border-color: var(--blue) transparent;
	animation: loaderAnimation 1.5s linear infinite;
}
