/* --------- google fonts import  --------- */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Marhey:wght@300&family=Noto+Sans+Kayah+Li&display=swap');

/* --------- animations --------- */
@keyframes scaleDownCircle {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.6);
	}
}
@keyframes scaleUpCircle {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1.5);
	}
}

@keyframes loaderAnimation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes shadowAnimation {
	100% {
		box-shadow: 0 5px 10px var(--shadow);
	}
}

/* -------- styles --------- */
:root {
	--azure: #eff3fe;
	--blue: #656ddc;
	--errorColor: #e8c24f;
	--lightBlue: #e4ecfd;
	--lightGrey: #d3d3d3;
	--shadow: #b2b5b280;
	--textColor: #383838;
	--white: #f9fafe;

	--transition: 0.2s all ease-in-out;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Varela Round', sans-serif;
	font-display: auto;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	background-color: var(--white);
	font-size: 14px;
	overflow: hidden;
	color: var(--textColor);
}

.background,
.outer-circle {
	position: absolute;
	width: 150vw;
	height: 150vw;
	border-radius: 50%;
	background-color: var(--azure);
	overflow: hidden;
	animation: 1.2s ease-in-out 0.5s scaleDownCircle forwards;
}

.inner-circle {
	width: 40vw;
	height: 40vw;
	background-color: var(--lightBlue);
	animation: 1s ease-in-out 0s scaleUpCircle forwards;
}

.container {
	position: relative;
	width: 50vw;
	max-width: 600px;
	min-width: 320px;
	overflow: hidden;
	border-radius: 6px;
	outline: none;
	animation: 1.2s ease-in-out 0.5s shadowAnimation forwards;
}

.container .title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	width: 100%;
	background-color: var(--blue);
	background: linear-gradient(0deg, var(--azure) 0%, var(--blue) 6%);
}

.container .form-title {
	font-size: 38px;
	color: var(--white);
	font-weight: 600;
	letter-spacing: 1px;
}

.container form {
	background-color: var(--white);
	padding: 10px 40px;
	height: 320px;
	display: flex;
	align-items: flex;
	justify-content: center;
	flex-direction: column;
}

.form-container .input-wrapper {
	position: relative;
	height: 40px;
	width: 100%;
	margin: 30px 0px;
}

form .input-label {
	position: absolute;
	top: -30px;
	left: 0px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.5px;
}

.form-container .input-text {
	position: absolute;
	top: -30px;
	right: 0px;
	color: var(--lightGrey);
	text-decoration: none;
	cursor: pointer;
	font-weight: 500;
	transition: var(--transition);
}

.form-container .input-text:hover {
	filter: brightness(80%);
}

.form-container .input-wrapper input {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid var(--lightBlue);
	outline: none;
	font-weight: 400;
	transition: var(--transition);
}

.form-container .input-wrapper input:is(:focus) {
	border-bottom-color: var(--blue);
}

.form-container .input-wrapper input::placeholder {
	color: var(--lightGrey);
}

.form-container .input-wrapper .eye-icon-container {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 0px;
	height: 100%;
	width: 50px;
	background-color: var(--lightGrey);
	font-size: 25px;
	cursor: pointer;
}

.input-wrapper input:is(:focus, :valid) ~ i {
	color: #737cf5;
}

.form-container .submit-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-container .submit-button input {
	width: 120px;
	height: 40px;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 3px;
	padding: 5px 15px;
	background-color: var(--blue);
	box-shadow: 0 5px 10px var(--shadow);
	cursor: pointer;
	transition: var(--transition);
}

.form-container .submit-button input:active {
	transform: translateY(2px);
	box-shadow: 0 2px var(--textColor);
}

/* --------- The alert message box  ---------*/
.alert {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 20px;
	width: 100%;
	background-color: var(--errorColor);
	color: white;
	font-size: 16px;
	font-weight: 600;
	opacity: 0;
	transition: 0.6s all ease-in-out;
	display: none;
	text-align: center;
}

.alert .close-btn {
	color: var(--white);
	font-weight: 500;
	float: right;
	font-size: 30px;
	line-height: 15px;
	margin-left: 15px;
	cursor: pointer;
	transition: var(--transition);
}
.close-btn:hover {
	transform: rotate(90deg);
}

/* ------ loader animation  ------ */
.loader {
	display: none;
	align-items: center;
	justify-content: center;
}

.loader:after {
	content: ' ';
	width: 29px;
	height: 29px;
	border-radius: 50%;
	border: 6px solid var(--blue);
	border-color: var(--blue) transparent;
	animation: loaderAnimation 1.5s linear infinite;
}
