/* ---- orientation portrait ------- */

@media only screen and (max-width: 420px) {
	.background,
	.outer-circle {
		position: fixed;
		width: 200vw;
		height: 80vh;
		top: 400px;
		left: -50%;
		overflow: hidden;
	}
	.inner-circle {
		position: fixed;
		width: 100vw;
		height: 100vw;
		top: 800px;
		left: 0%;
	}
	.container {
		width: 100vw;
		height: 100vh;
		border-radius: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		animation: none;
	}

	.container .alert {
		position: absolute;
		top: 390px;
	}
	.container form {
		background-color: transparent;
	}

	.form-container {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}
}
@media only screen and (max-width: 320px) {
	body {
		height: 100vh;
	}

	.title-container .form-title {
		font-size: 20px;
	}

	.input-wrapper input::placeholder,
	.input-wrapper .input-text {
		color: var(--textGrey);
		font-size: 12px;
	}

	.icon-container {
		width: 40px;
		font-size: 24px;
	}
}

/* ---- orientation landscape ------- */
@media (orientation: landscape) {
	body {
		height: auto;
		overflow: scroll;
	}
	.background {
		display: none;
	}
	.container {
		width: 80vw;
		margin: 65px;
	}
}
